.error{
    padding: 120px 0 120px 0;
}

.error-img{
    text-align: center;
}


.error-text{
    h2{
        text-align: center;
        font-weight: 600;
        font-size: 48px;
        color: #04091E;
    }
}



.error-btn{
    text-align: center;
    margin-top: 40px;
    line-height: 0;
}