


.footer-main-item{
padding: 32px 0;
background-color: #04091E;
border-bottom: 1px solid rgba(244, 248, 247, 0.1);




.footer-pl{
  padding: 0 15px;
}




.footer-item{
    padding: 40px 40px;
    background: rgba(255, 255, 255, 0.02);
    border: 1px dashed rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s;
    &:hover{
        background-color: #2662FA;
        border: 1px solid #2662FA;
    }
    .footer-img{
        ul{
            padding: 0;
            margin: 0;
            li{
                span{
                    i{
                        line-height: 0;
                        color: #fff;
                        font-size: 40px;
                        padding-right: 12px;
                    }
                }

                font-weight: 600;
                font-size: 28px;
                line-height: 150%;
                font-family: 'Work Sans', sans-serif;
                color: #fff;
            }
        }
    }
}


.footer-active{
    background-color: #2662FA;
    border: 1px solid #2662FA;
}




}















.footer-main-item-2{
padding: 32px 0;
background-color: #04091E;
border-bottom: 1px solid rgba(244, 248, 247, 0.1);

transition: all linear 0.5s;


.footer-pl{
  padding: 0 15px;
}




.footer-item{
    padding: 40px 40px;
    background: rgba(255, 255, 255, 0.02);
    border: 1px dashed rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s;
    &:hover{
        background-color: #FDCC04;
        border: 1px solid #FDCC04;

        .footer-img{
            ul{
                padding: 0;
                margin: 0;
                li{
                    span{
                      svg{
                        fill: currentColor;
                        color: #04091E;
                      }
                    }
    
                }
            }
        }
    }
    .footer-img{
      .p-l{
        margin-left: -25px;
      }
     
        ul{
            padding: 0;
            margin: 0;
            li{
                span{
                  svg{
                    fill: currentColor;
                    color: #fff;
                  }
                }

                font-weight: 600;
                font-size: 28px;
                line-height: 150%;
                font-family: 'Work Sans', sans-serif;
                color: #fff;
            }
        }
    }
}


.footer-active-02{
    background-color: #FDCC04;
    border: 1px solid #FDCC04;


    &:hover{
      background-color: #FDCC04;
      border: 1px solid #FDCC04;

      .footer-img{
          ul{
              padding: 0;
              margin: 0;
              li{
                  span{
                    svg{
                      fill: currentColor;
                      color: transparent;
                    }
                  }
  
              }
          }
      }
  }



}




}







.footer-main-item-four{
padding: 32px 0;
background-color: #04091E;
border-bottom: 1px solid rgba(244, 248, 247, 0.1);




.footer-pl{
  padding: 0 15px;
}




.footer-item{
    padding: 40px 40px;
    background: rgba(255, 255, 255, 0.02);
    border: 1px dashed rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s;
    &:hover{
        background-color: #FF3F00;
        border: 1px solid #FF3F00;

        .footer-img{
            ul{
                padding: 0;
                margin: 0;
                li{
                    span{
                      svg{
                        fill: currentColor;
                        color: #fff;
                      }
                    }
    
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 150%;
                    font-family: 'Work Sans', sans-serif;
                    color: #fff;
                }
            }
        }
    }
    .footer-img{
        ul{
            padding: 0;
            margin: 0;
            li{
                span{
                  svg{
                    fill: currentColor;
                    color: #fff;
                  }
                }

                font-weight: 600;
                font-size: 28px;
                line-height: 150%;
                font-family: 'Work Sans', sans-serif;
                color: #fff;
            }
        }
    }
}


.footer-active{
    background-color: #FF3F00;
    border: 1px solid #FF3F00;


    &:hover{
        ul{
            padding: 0;
            margin: 0;
            li{
                span{
                  svg{
                    fill: currentColor;
                    color: #2662FA;
                  }
                }
    
            }
        }
    }
   
    ul{
        padding: 0;
        margin: 0;
        li{
            span{
              svg{
                fill: currentColor;
                color: #fff;
              }
            }

            font-weight: 600;
            font-size: 28px;
            line-height: 150%;
            font-family: 'Work Sans', sans-serif;
            color: #04091E;
        }
    }
}




}













