* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.container {
  width: 1170px;
  padding: 0;
}

p {
  margin-bottom: 0;
}

p, a, h1, h2, h3, h4, h5, h6, span {
  font-family: "Work Sans";
}

p, a, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

body {
  overflow-x: hidden;
  font-family: "Work Sans";
}

.bg-1 {
  background-color: #050F25;
}

@font-face {
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGY9z_wNahGAdqQ43Rh_ebrnlwyYfEPxPoGU3msJow.ttf) format("truetype");
}
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXNig.ttf) format("truetype");
}
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K3vXNig.ttf) format("truetype");
}
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K5fQNig.ttf) format("truetype");
}
@font-face {
  font-family: "Work Sans";
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/worksans/v18/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K67QNig.ttf) format("truetype");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: rgb(4, 9, 30);
  margin: 0;
}

h1 {
  font-size: 72px;
  line-height: 84.46px;
  color: rgb(245, 245, 245);
}

h2 {
  font-size: 48px;
  line-height: 67.2px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}

#main-preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 100000000000;
}

.preloder {
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  transform: rotate(-45deg);
  margin: auto;
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  animation: scale-x 1s ease forwards;
  animation-delay: 2.3s;
}

.preloder span {
  flex-basis: 50%;
  aspect-ratio: 1/1;
  display: block;
  transition: opacity 0.7s ease;
}

.tile-1 {
  background-color: white;
  transform-origin: 100% 100%;
  animation: flip-1 0.5s linear forwards;
  border: none;
  opacity: 0;
  transition: opacity 0.7s ease;
}

.tile-2 {
  background-color: white;
  transform-origin: 50% 100%;
  animation: flip-2 0.5s linear forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.tile-3 {
  background-color: white;
  transform-origin: 50% 0%;
  animation: flip-4 0.5s linear forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.tile-4 {
  background-color: white;
  transform-origin: 0% 50%;
  animation: flip-3 0.5s linear forwards;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes flip-1 {
  to {
    transform: rotateY(180deg);
    opacity: 1;
  }
}
@keyframes flip-2 {
  to {
    transform: rotateX(180deg);
    opacity: 1;
  }
}
@keyframes flip-3 {
  to {
    transform: rotateY(-180deg);
    opacity: 1;
  }
}
@keyframes flip-4 {
  to {
    transform: rotateX(-180deg);
    opacity: 1;
  }
}
@keyframes scale-x {
  to {
    transform: scale(50);
    opacity: 0;
  }
}
.header {
  position: fixed;
  padding: 12px 0;
  width: 100%;
  z-index: 9998;
}
.header .nav-bg {
  animation: slideDown 1s ease-out;
  margin-top: -52px;
  z-index: 9999;
}
.header .menu-padding {
  padding: 0;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  gap: 32px;
}

.hrader-left-item {
  display: flex;
  gap: 12px;
  align-items: center;
}
.hrader-left-item .text a {
  font-weight: 400;
  font-size: 16px;
  color: #747681;
  transition: 0.5s;
}
.hrader-left-item .text p {
  font-weight: 400;
  font-size: 16px;
  color: #747681;
  transition: 0.5s;
}
.hrader-left-item .text p:hover {
  text-decoration-line: underline;
}

.header-right-inner .icon {
  display: flex;
  gap: 24px;
  line-height: 0;
}
.header-right-inner .icon i {
  color: #747681;
  font-size: 20px;
  transition: 0.5s;
}
.header-right-inner .icon i:hover {
  color: #2662fa;
}

.menu-bg {
  padding-top: 13px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.menu-bg .form-control {
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 14px 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 0;
  color: #04091e;
  background-color: #04091e;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.menu-bg .form-control:focus {
  color: #04091e;
  background-color: #04091e;
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0.25rem transparent;
}
.menu-bg .btn-outline-success {
  color: #000;
  border-color: transparent;
  position: relative;
}
.menu-bg .btn-outline-success i {
  position: absolute;
  top: 13px;
  left: 46px;
}
.menu-bg .btn-outline-success:hover {
  color: #000;
  background-color: transparent;
  border-color: transparent;
}
.menu-bg .btn-outline-success:focus {
  box-shadow: 0 0 0 0.25rem transparent;
}
.menu-bg .btn-check:focus + .btn-outline-success {
  box-shadow: 0 0 0 0.25rem transparent;
}
.menu-bg .nav-main {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px;
  padding: 12px 12px;
  box-shadow: 5px 6px 60px rgba(17, 29, 59, 0.04);
}
.menu-bg .nav-main .menu-main {
  display: flex;
  align-items: center;
  gap: 80px;
}
.menu-bg .nav-main .menu ul {
  display: flex;
  gap: 38px;
  margin-bottom: 0;
  padding-left: 0;
}
.menu-bg .nav-main .menu ul li {
  position: relative;
}
.menu-bg .nav-main .menu ul li:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(-8px);
}
.menu-bg .nav-main .menu ul li ul {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 200px;
  background-color: #fff;
  box-shadow: 5px 6px 60px rgba(17, 29, 59, 0.04);
  transition: all linear 0.5s;
  top: 62px;
  left: -75px;
  text-align: start;
  border-top: 2px solid #2662fa;
  padding: 10px 20px;
}
.menu-bg .nav-main .menu ul li ul li {
  line-height: 35px;
}
.menu-bg .nav-main .menu ul li a {
  font-weight: 500;
  font-size: 18px;
  color: #04091E;
  position: relative;
  transition: all 0.3s ease-out 0s;
  text-transform: capitalize;
}
.menu-bg .nav-main .menu ul li a:after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #2662fa;
  transition: all 0.3s ease-out 0s;
}
.menu-bg .nav-main .menu ul li a:hover {
  color: #2662fa;
}
.menu-bg .nav-main .menu ul li a:hover::after {
  width: 100%;
}

.menu-btn {
  line-height: 0;
}

.header-two .header-right-inner .icon {
  display: flex;
  gap: 24px;
  line-height: 0;
}
.header-two .header-right-inner .icon i {
  color: #747681;
  font-size: 20px;
  transition: 0.5s;
}
.header-two .header-right-inner .icon i:hover {
  color: #DAED1A;
}
.header-two .nav-main .menu ul li ul {
  border-top: 2px solid #DAED1A;
}
.header-two .nav-main .menu ul li a {
  font-weight: 500;
  font-size: 18px;
  color: #04091E;
  position: relative;
  transition: all 0.3s ease-out 0s;
}
.header-two .nav-main .menu ul li a:after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #DAED1A;
  transition: all 0.3s ease-out 0s;
}
.header-two .nav-main .menu ul li a:hover {
  color: #DAED1A;
}
.header-two .nav-main .menu ul li a:hover::after {
  width: 100%;
}

.header-three .hrader-left-item .text a {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  transition: 0.5s;
}
.header-three .hrader-left-item .text p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  transition: 0.5s;
}
.header-three .hrader-left-item .text p:hover {
  text-decoration-line: underline;
}
.header-three .header-right-inner .icon {
  display: flex;
  gap: 24px;
  line-height: 0;
}
.header-three .header-right-inner .icon i {
  color: #fff;
  font-size: 20px;
  transition: 0.5s;
}
.header-three .header-right-inner .icon i:hover {
  color: #FDCC04;
}
.header-three .nav-main .menu ul li ul {
  border-top: 2px solid #FDCC04;
}
.header-three .nav-main .menu ul li a {
  font-weight: 500;
  font-size: 18px;
  color: #04091E;
  position: relative;
  transition: all 0.3s ease-out 0s;
}
.header-three .nav-main .menu ul li a:after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #FDCC04;
  transition: all 0.3s ease-out 0s;
}
.header-three .nav-main .menu ul li a:hover {
  color: #FDCC04;
}
.header-three .nav-main .menu ul li a:hover::after {
  width: 100%;
}

.header-four .hrader-left-item .text a {
  font-weight: 400;
  font-size: 16px;
  color: #747681;
  transition: 0.5s;
}
.header-four .hrader-left-item .text p {
  font-weight: 400;
  font-size: 16px;
  color: #747681;
  transition: 0.5s;
}
.header-four .hrader-left-item .text p:hover {
  text-decoration-line: underline;
}
.header-four .header-right-inner .icon {
  display: flex;
  gap: 24px;
  line-height: 0;
}
.header-four .header-right-inner .icon i {
  color: #747681;
  font-size: 20px;
  transition: 0.5s;
}
.header-four .header-right-inner .icon i:hover {
  color: rgb(255, 63, 0);
}
.header-four .nav-main .menu ul li ul {
  border-top: 2px solid rgb(255, 63, 0);
}
.header-four .nav-main .menu ul li a {
  font-weight: 500;
  font-size: 18px;
  color: #04091E;
  position: relative;
  transition: all 0.3s ease-out 0s;
}
.header-four .nav-main .menu ul li a:after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: rgb(255, 63, 0);
  transition: all 0.3s ease-out 0s;
}
.header-four .nav-main .menu ul li a:hover {
  color: rgb(255, 63, 0);
}
.header-four .nav-main .menu ul li a:hover::after {
  width: 100%;
}

.btn-style-1 {
  cursor: pointer;
  display: inline-block;
  outline: none;
  overflow: hidden;
  width: 160px;
  height: 59px;
  text-align: center;
  line-height: 59px;
  position: relative;
  background-color: #2662FA;
  border-radius: 8px;
  transition: all linear 0.5s;
}
.btn-style-1 a {
  display: flex;
  color: #fff;
  gap: 4PX;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.btn-style-1 a span svg {
  transition: all linear 0.5s;
  width: 24px;
}
.btn-style-1:hover {
  background-color: #042F9C;
  color: #fff;
}
.btn-style-1:hover:before {
  left: 120%;
  opacity: 0.25;
  transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-style-1:hover a span svg {
  transform: translateX(10px);
}
.btn-style-1:before {
  background-color: #fff;
  content: "";
  height: 150px;
  left: -75px;
  opacity: 0;
  position: absolute;
  top: -35px;
  transform: rotate(35deg);
  transition: all 1.6s cubic-bezier(0.19, 1, 0.22, 1);
  width: 40px;
}

.btn-style-2 {
  cursor: pointer;
  display: inline-block;
  outline: none;
  overflow: hidden;
  width: 160px;
  height: 59px;
  text-align: center;
  line-height: 59px;
  position: relative;
  background-color: #DAED1A;
  border-radius: 8px;
  transition: all linear 0.5s;
}
.btn-style-2 a {
  display: flex;
  color: #04091E;
  gap: 4PX;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.btn-style-2 a span svg {
  transition: all linear 0.5s;
  width: 24px;
}
.btn-style-2:hover {
  background-color: #AEBE0F;
  color: #fff;
}
.btn-style-2:hover:before {
  left: 120%;
  opacity: 0.5;
  transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-style-2:hover a span svg {
  transform: translateX(10px);
}
.btn-style-2:before {
  background-color: #fff;
  content: "";
  height: 150px;
  left: -75px;
  opacity: 0;
  position: absolute;
  top: -35px;
  transform: rotate(35deg);
  transition: all 1.6s cubic-bezier(0.19, 1, 0.22, 1);
  width: 40px;
}

.btn-style-3 {
  cursor: pointer;
  display: inline-block;
  outline: none;
  overflow: hidden;
  width: 160px;
  height: 59px;
  text-align: center;
  line-height: 59px;
  position: relative;
  background-color: #FDCC04;
  border-radius: 8px;
  transition: all linear 0.5s;
}
.btn-style-3 a {
  display: flex;
  color: #000;
  gap: 4PX;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.btn-style-3 a span svg {
  transition: all linear 0.5s;
  width: 24px;
}
.btn-style-3:hover {
  background-color: #E3B602;
  color: #000;
}
.btn-style-3:hover:before {
  left: 120%;
  opacity: 0.5;
  transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-style-3:hover a span svg {
  transform: translateX(10px);
}
.btn-style-3:before {
  background-color: #fff;
  content: "";
  height: 150px;
  left: -75px;
  opacity: 0;
  position: absolute;
  top: -35px;
  transform: rotate(35deg);
  transition: all 1.6s cubic-bezier(0.19, 1, 0.22, 1);
  width: 40px;
}

.btn-style-4 {
  cursor: pointer;
  display: inline-block;
  outline: none;
  overflow: hidden;
  width: 160px;
  height: 59px;
  text-align: center;
  line-height: 59px;
  position: relative;
  background-color: #FF3F00;
  border-radius: 8px;
  transition: all linear 0.5s;
}
.btn-style-4 a {
  display: flex;
  color: #fff;
  gap: 4PX;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.btn-style-4 a span svg {
  transition: all linear 0.5s;
  width: 24px;
}
.btn-style-4:hover {
  background-color: #E33800;
  color: #fff;
}
.btn-style-4:hover:before {
  left: 120%;
  opacity: 0.5;
  transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-style-4:hover a span svg {
  transform: translateX(10px);
}
.btn-style-4:before {
  background-color: #fff;
  content: "";
  height: 150px;
  left: -75px;
  opacity: 0;
  position: absolute;
  top: -35px;
  transform: rotate(35deg);
  transition: all 1.6s cubic-bezier(0.19, 1, 0.22, 1);
  width: 40px;
}

/* animation  */
@keyframes jump {
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 30%, 0);
  }
}
.back-to-top i {
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 50px;
  height: 50px;
  width: 50px;
  background-color: #2662FA;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  font-size: 20px;
  animation: jump 1s ease-in alternate infinite;
  display: none;
  z-index: 555;
  transition: all 0.3s ease;
}

.back-to-top-02 i {
  position: fixed;
  bottom: 40px;
  right: 50px;
  height: 50px;
  width: 50px;
  background-color: #DAED1A;
  color: #000;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  font-size: 20px;
  animation: jump 1s ease-in alternate infinite;
  display: none;
  z-index: 555;
  transition: all 0.3s ease;
}

.back-to-top-3 i {
  position: fixed;
  bottom: 40px;
  right: 50px;
  height: 50px;
  width: 50px;
  background-color: #FDCC04;
  color: #000;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  font-size: 20px;
  animation: jump 1s ease-in alternate infinite;
  display: none;
  z-index: 555;
  transition: all 0.3s ease;
}

.back-to-top-4 i {
  position: fixed;
  bottom: 40px;
  right: 50px;
  height: 50px;
  width: 50px;
  background-color: rgb(255, 63, 0);
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  font-size: 20px;
  animation: jump 1s ease-in alternate infinite;
  display: none;
  z-index: 555;
  transition: all 0.3s ease;
}

.container-full {
  width: 100%;
}

.mobile-header {
  display: none;
}

.mobile-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

#nav-opn-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #2662fa;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
}

.p-right-2 #nav-opn-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #FDCC04;
  color: #04091E;
  border-radius: 5px;
  font-size: 18px;
}

.p-right-3 #nav-opn-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #FF3F00;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
}

.p-right-4 #nav-opn-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #DAED1A;
  color: #04091E;
  border-radius: 5px;
  font-size: 18px;
}

#offcanvas-nav {
  background: transparent;
  position: absolute;
  left: -300px;
  top: 0px;
  z-index: 99;
  width: 300px;
  height: 100vh;
  z-index: 999999;
  transition: 0.5s ease;
}
#offcanvas-nav::before {
  content: "";
  width: 0%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: 0.5s ease 0.3s;
}

#offcanvas-nav.open {
  left: 0px;
}
#offcanvas-nav.open::before {
  width: 100%;
}

#offcanvas-nav .m-nav {
  position: relative;
  background-color: #fff;
  padding-top: 80px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  z-index: 9;
  display: block;
  height: 100%;
  overflow-y: scroll;
}

#nav-cls-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  background: none;
  border: none;
  outline: none;
  font-size: 22px;
}

#offcanvas-nav .m-nav .nav-links {
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
}
#offcanvas-nav .m-nav .nav-links li {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 20px;
}
#offcanvas-nav .m-nav .nav-links li a {
  font-size: 16px;
  color: #04091E;
}
#offcanvas-nav .m-nav .nav-links li a::before {
  display: none;
}

#offcanvas-nav li:last-of-type {
  border: 0 !important;
}

#offcanvas-nav .m-nav .nav-links .dropdown .d-menu {
  position: relative;
  box-shadow: none;
  padding-left: 20px;
  padding-top: 15px !important;
  padding-top: 0px;
  visibility: visible;
  opacity: 1;
  display: none;
  transition: 0.5s ease-in 0s;
}
#offcanvas-nav .m-nav .nav-links .dropdown .d-menu li {
  padding: 5px 0px;
}
#offcanvas-nav .m-nav .nav-links .dropdown .d-menu li a {
  font-size: 15px;
  color: #000;
}
#offcanvas-nav .m-nav .nav-links .dropdown:hover .d-menu {
  display: block;
}

#offcanvas-nav .m-nav .logo {
  margin-bottom: 40px;
}

#offcanvas-nav .m-nav > .social-icons-s1 {
  gap: 12px;
  margin-top: 50px;
}
#offcanvas-nav .m-nav > .social-icons-s1 li a::before {
  display: none;
}

.social-icons {
  display: flex;
  gap: 20px;
}
.social-icons a i {
  height: 40px;
  width: 40px;
  background-color: #2662fa;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  transition: 0.5s;
  font-size: 20px;
  transition: all 0.5s;
}
.social-icons a i:hover {
  background-color: #04091E;
  color: #fff;
}

.social-icons-2 {
  display: flex;
  gap: 20px;
}
.social-icons-2 a i {
  height: 40px;
  width: 40px;
  background-color: #FDCC04;
  color: #04091E;
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  transition: 0.5s;
  font-size: 20px;
  transition: all 0.5s;
}
.social-icons-2 a i:hover {
  background-color: #04091E;
  color: #FDCC04;
}

.social-icons-3 {
  display: flex;
  gap: 20px;
}
.social-icons-3 a i {
  height: 40px;
  width: 40px;
  background-color: #FF3F00;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  transition: 0.5s;
  font-size: 20px;
  transition: all 0.5s;
}
.social-icons-3 a i:hover {
  background-color: #04091E;
  color: #fff;
}

.social-icons-4 {
  display: flex;
  gap: 20px;
}
.social-icons-4 a i {
  height: 40px;
  width: 40px;
  background-color: #DAED1A;
  color: #04091E;
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  transition: 0.5s;
  font-size: 20px;
  transition: all 0.5s;
}
.social-icons-4 a i:hover {
  background-color: #04091E;
  color: #DAED1A;
}

.inner-bg {
  background: url(../assets/image/others/banner/inner-bg.png) no-repeat center/cover;
  padding: 238px 0px 116px 0px;
}

.inner-bg-head {
  text-align: center;
}
.inner-bg-head h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: #04091E;
}

.inner-item {
  display: flex;
  align-items: center;
  gap: 17px;
  justify-content: center;
  padding-top: 8px;
  text-transform: capitalize;
}
.inner-item .inner-text a {
  font-weight: 400;
  font-size: 20px;
  color: #04091E;
}
.inner-item .inner-text h5 {
  font-weight: 400;
  font-size: 20px;
  color: #04091E;
}

.inner-bg-two {
  background: url(../assets/image/others/banner/inner-bg-2.png) no-repeat center/cover;
  padding: 238px 0px 116px 0px;
}
.inner-bg-two .inner-bg-head {
  text-align: center;
}
.inner-bg-two .inner-bg-head h1 {
  color: #fff;
}
.inner-bg-two .inner-text a {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
.inner-bg-two .inner-text h5 {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
.inner-bg-two .icon i {
  color: #fff;
  font-size: 20px;
}

.about-hero {
  background: url("../assets/image/About/about-bg.png") no-repeat center/cover;
  padding: 238px 0px 116px 0px;
}
.about-hero .inner-bg-head {
  text-align: center;
}
.about-hero .inner-bg-head h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: rgb(255, 255, 255);
}
.about-hero .inner-item {
  display: flex;
  align-items: center;
  gap: 17px;
  justify-content: center;
  padding-top: 8px;
  text-transform: capitalize;
}
.about-hero .inner-item .inner-text a {
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.about-hero .inner-item .inner-text h5 {
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.about-hero .inner-item .icon i {
  color: #fff !important;
}

.photographer-hero {
  background: url("../assets/image/Photographer/service-bg.png") no-repeat center/cover;
  padding: 272px 0 133px 0;
}
.photographer-hero .inner-bg-head {
  text-align: center;
}
.photographer-hero .inner-bg-head h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: rgb(255, 255, 255);
}
.photographer-hero .inner-item {
  display: flex;
  align-items: center;
  gap: 17px;
  justify-content: center;
  padding-top: 8px;
  text-transform: capitalize;
}
.photographer-hero .inner-item .inner-text a {
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.photographer-hero .inner-item .inner-text h5 {
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.photographer-hero .inner-item .icon i {
  color: #fff !important;
}

.lawyer-hero {
  background: url("../assets/image/Lawyer/about-bg-1.png") no-repeat center/cover;
  padding: 272px 0 133px 0;
}
.lawyer-hero .inner-bg-head {
  text-align: center;
}
.lawyer-hero .inner-bg-head h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: rgb(255, 255, 255);
}
.lawyer-hero .inner-item {
  display: flex;
  align-items: center;
  gap: 17px;
  justify-content: center;
  padding-top: 8px;
  text-transform: capitalize;
}
.lawyer-hero .inner-item .inner-text a {
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.lawyer-hero .inner-item .inner-text h5 {
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.lawyer-hero .inner-item .icon i {
  color: #fff !important;
}

.services-details {
  padding: 120px 0 0px 0;
}

.article {
  margin-top: 30px;
  border-bottom: 1px solid rgba(116, 118, 129, 0.3019607843);
  padding-bottom: 10px;
}

.services-details-article-text span {
  font-weight: 600;
  font-size: 18px;
  line-height: 170%;
  color: #272931;
}
.services-details-article-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 152%;
  color: #747681;
}

.services-details-article-text-two span {
  color: #fff;
}

.services-details-article-icon {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: end;
}
.services-details-article-icon .text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: rgba(18, 20, 29, 0.6);
}
.services-details-article-icon .icon {
  display: flex;
  gap: 16px;
}
.services-details-article-icon .icon i {
  height: 40px;
  width: 40px;
  background-color: #04091E;
  box-shadow: 7px 59.0047px 60px -31.4692px rgba(18, 20, 29, 0.2);
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
  transition: all 0.5s;
}
.services-details-article-icon .icon i:hover {
  background-color: #2662FA;
}

.services-details-article-icon-two {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: end;
}
.services-details-article-icon-two .text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
}
.services-details-article-icon-two .icon i {
  background-color: #747681;
  box-shadow: 7px 59.0047px 60px -31.4692px rgba(18, 20, 29, 0.2);
  color: #fff;
}
.services-details-article-icon-two .icon i:hover {
  background-color: #DAED1A;
  color: #04091E;
}

.research-top {
  margin-top: 40px;
}

.research-img {
  margin: 0 7px;
}

.website {
  margin-top: 23px;
}
.website .website-text h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
  color: #04091E;
  padding-bottom: 20px;
}
.website .website-text span {
  font-weight: 400;
  font-size: 18px;
  line-height: 152%;
  color: #747681;
}
.website .website-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 152%;
  color: #747681;
  padding-top: 20px;
}

.website {
  margin-top: 40px;
}
.website .website-text-two h2 {
  color: #fff;
}
.website .website-text-two span {
  font-weight: 400;
  font-size: 18px;
  line-height: 152%;
  color: #747681;
}
.website .website-text-two p {
  font-weight: 400;
  font-size: 18px;
  line-height: 152%;
  color: #747681;
  padding-top: 30px;
}

.research-ml {
  margin-right: 6px;
}
.research-ml:last-child {
  margin-right: 0;
}

.research {
  padding-top: 3px;
}
.research h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: #04091E;
  padding-top: 20px;
}
.research p {
  font-weight: 400;
  font-size: 18px;
  line-height: 152%;
  color: #747681;
  padding-top: 20px;
}

.research-two {
  padding-top: 3px;
}
.research-two h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: #fff;
  padding-top: 20px;
}

.research-top-text {
  margin-top: 40px;
}
.research-top-text ul {
  list-style: disc;
  padding-left: 1rem;
  color: #747681;
}
.research-top-text ul li {
  font-weight: 400;
  font-size: 20px;
  line-height: 152%;
}

.query-img {
  background: url(../assets/image/others/banner/query-bg.png) no-repeat center/cover;
  padding: 25px 47px 23px 48px;
  border-radius: 18px;
  margin-top: 50px;
}
.query-img .query h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
  color: #fff;
}
.query-img .query-btn {
  text-align: end;
  line-height: 0;
}
.query-img .query-btn .btn-style-1 a {
  background-color: rgba(255, 255, 255, 0.1);
}

.query-img-two {
  background: url(../assets/image/others/banner/query-bg-2.png) no-repeat center/cover;
  padding: 25px 47px 23px 48px;
  border-radius: 18px;
  margin-top: 50px;
}
.query-img-two .query h2 {
  color: #04091E;
}
.query-img-two .query-btn {
  text-align: end;
  line-height: 0;
}
.query-img-two .query-btn .btn-style-1 a {
  background-color: #04091E;
  color: #fff;
}

.photographer-service {
  padding: 120px 0;
  background-color: rgba(217, 217, 217, 0.031);
}
.photographer-service .service-tittle p {
  font-size: 20px;
  line-height: 32px;
}
.photographer-service .service-card-top {
  margin-top: 75px;
}
.photographer-service .service-card-bottom {
  margin-top: 30px;
}
.photographer-service .service-card {
  padding: 33px 28px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgba(29, 29, 29, 0.05);
  position: relative;
  margin-right: 20px;
}
.photographer-service .service-card:hover {
  background-color: #FDCC04;
  transition: all 0.5s linear;
}
.photographer-service .service-card:hover h3 {
  color: rgb(4, 9, 30);
}
.photographer-service .service-card:hover p {
  color: rgb(4, 9, 30);
}
.photographer-service .service-card:hover a {
  color: rgb(4, 9, 30);
}
.photographer-service .service-card:hover .service-card-img svg path {
  color: #04091E;
}
.photographer-service .service-card:hover .service-card-img svg circle {
  fill: #04091E;
}
.photographer-service .service-card .service-overlay {
  position: absolute;
  width: 319px;
  height: 319px;
  border-radius: 100%;
  border: 80px solid rgba(255, 255, 255, 0.1803921569);
  opacity: 1;
  top: 200px;
  left: 139px;
}
.photographer-service .service-card .service-card-img svg path {
  stroke: currentColor;
  color: #FDCC04;
}
.photographer-service .service-card .service-card-content h3 {
  padding: 24px 0;
  color: rgb(4, 9, 30);
  font-weight: 700;
}
.photographer-service .service-card .service-card-content h3 span {
  display: block;
}
.photographer-service .service-card .service-btn {
  padding: 20px 0;
}
.photographer-service .service-card .service-btn a {
  font-weight: 400;
  text-decoration: underline;
}
.photographer-service .service-card .service-btn .fa-arrow-right {
  transform: rotate(-45deg);
}
.photographer-service .slick-dots button {
  background-color: rgb(71, 217, 144);
}
.photographer-service .slick-active button {
  background-color: rgb(71, 217, 144);
}

.photographer-service {
  padding: 120px 0;
  background-color: rgba(217, 217, 217, 0.031);
}
.photographer-service .service-tittle p {
  font-size: 20px;
  line-height: 32px;
}
.photographer-service .service-card-top {
  margin-top: 75px;
}
.photographer-service .service-card-bottom {
  margin-top: 30px;
}
.photographer-service .service-card {
  padding: 33px 28px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgba(29, 29, 29, 0.05);
  position: relative;
  margin-right: 20px;
}
.photographer-service .service-card:hover {
  background-color: #FDCC04;
  transition: all 0.5s linear;
}
.photographer-service .service-card:hover h3 {
  color: rgb(4, 9, 30);
}
.photographer-service .service-card:hover p {
  color: rgb(4, 9, 30);
}
.photographer-service .service-card:hover a {
  color: rgb(4, 9, 30);
}
.photographer-service .service-card:hover .service-card-img svg path {
  color: #04091E;
}
.photographer-service .service-card:hover .service-card-img svg circle {
  fill: #04091E;
}
.photographer-service .service-card .service-overlay {
  position: absolute;
  width: 319px;
  height: 319px;
  border-radius: 100%;
  border: 80px solid rgba(255, 255, 255, 0.1803921569);
  opacity: 1;
  top: 200px;
  left: 139px;
}
.photographer-service .service-card .service-card-img svg path {
  stroke: currentColor;
  color: #FDCC04;
}
.photographer-service .service-card .service-card-content h3 {
  padding: 24px 0;
  color: rgb(4, 9, 30);
  font-weight: 700;
}
.photographer-service .service-card .service-card-content h3 span {
  display: block;
}
.photographer-service .service-card .service-btn {
  padding: 20px 0;
}
.photographer-service .service-card .service-btn a {
  font-weight: 400;
  text-decoration: underline;
}
.photographer-service .service-card .service-btn .fa-arrow-right {
  transform: rotate(-45deg);
}
.photographer-service .slick-dots button {
  background-color: rgb(71, 217, 144);
}
.photographer-service .slick-active button {
  background-color: rgb(71, 217, 144);
}

.service-details {
  padding: 120px 0 0 0;
}
.service-details .service-heading {
  padding-bottom: 40px;
}
.service-details .service-heading .service-social-detail {
  padding: 40px 0 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.129);
}
.service-details .service-heading .service-social-detail .service-date p {
  color: rgb(4, 9, 30);
  font-weight: 600;
}
.service-details .service-heading .service-social-detail .service-date a {
  color: #747681;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
}
.service-details .service-heading .service-social-icon {
  gap: 16px;
}
.service-details .service-heading .service-social-icon i {
  font-size: 15px;
  width: 40px;
  height: 40px;
  background-color: rgb(4, 9, 30);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: all 0.5s;
}
.service-details .service-heading .service-social-icon i:hover {
  background-color: rgb(253, 204, 4);
  color: rgb(4, 9, 30);
}
.service-details .service-blog .service-blog-tittle h2 {
  padding-bottom: 20px;
}
.service-details .service-blog .service-blog-tittle p {
  padding-bottom: 12px;
}
.service-details .service-blog .service-research .service-research-tittle h3 {
  color: rgb(4, 9, 30);
  font-weight: 600;
  padding-top: 8px;
}
.service-details .service-blog .service-research .service-research-tittle p {
  padding: 20px 0 40px 0;
}
.service-details .service-blog .service-research .service-research-img {
  display: flex;
  gap: 0 30px;
}
.service-details .service-blog .service-research .service-list {
  padding: 40px 20px 50px 20px;
}
.service-details .service-blog .service-research .service-list li {
  list-style: circle;
  padding-bottom: 10px;
}

.service-query .service-query-section {
  background: url(../assets/image/others/teacher-service-d.png) no-repeat center/cover;
  padding: 43px 63px;
  border-radius: 18px;
}
.service-query .service-query-section .service-query-content h2 {
  color: #fff;
}
.service-query .service-query-section .service-query-content span {
  display: block;
}
.service-query .service-query-section .service-query-box .service-qury-btn .btn-style-3 {
  background: #04091E;
  width: 200px;
}
.service-query .service-query-section .service-query-box .service-qury-btn .btn-style-3 a {
  color: #fff;
}

.service-query-3 .service-query-section {
  background: url(../assets/image/others/service-query-3.png) no-repeat center/cover;
  padding: 43px 63px;
  border-radius: 18px;
}
.service-query-3 .service-query-section .service-query-content h2 {
  color: #fff;
}
.service-query-3 .service-query-section .service-query-content span {
  display: block;
}
.service-query-3 .service-query-section .service-query-box .service-qury-btn .btn-style-4 {
  background-color: rgba(255, 255, 255, 0.2588235294);
  width: 250px;
}
.service-query-3 .service-query-section .service-query-box .service-qury-btn .btn-style-4 a {
  font-weight: 500;
  font-size: 20px;
}

.service-testimonial {
  background: rgb(255, 255, 255);
  padding: 120px 0 90px;
}
.service-testimonial .service-title {
  padding-bottom: 47px;
}
.service-testimonial .service-title .service-inner-text {
  z-index: 1;
}
.service-testimonial .service-title .service-inner-text img {
  position: absolute;
  top: 42px;
  right: 0;
  z-index: -1;
}
.service-testimonial .service-title span:nth-child(2) {
  display: block;
}
.service-testimonial .service-card {
  padding: 24px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 22px 32px 0;
  border: 0.05px solid rgb(255, 255, 255);
  transition: all 0.5s linear;
  box-shadow: 5px 6px 60px rgba(17, 29, 59, 0.08);
}
.service-testimonial .service-card:hover {
  border: 1px solid rgb(253, 204, 4);
}
.service-testimonial .service-card:hover a {
  color: rgb(253, 204, 4);
}
.service-testimonial .service-card .service-overlay {
  position: absolute;
  right: -25px;
  top: -20px;
}
.service-testimonial .service-card .service-content h2 {
  font-size: 42px;
  line-height: 58.8px;
  font-weight: 600;
  background: -webkit-linear-gradient(rgba(59, 60, 61, 0.072), rgba(4, 9, 30, 0.048));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-testimonial .service-card .service-content h2 span {
  display: block;
}
.service-testimonial .service-card .service-content h3 {
  color: rgb(4, 9, 30);
  font-weight: 700;
  margin-top: -21px;
}
.service-testimonial .service-card .service-content p {
  padding: 12px 0 16px 0;
}
.service-testimonial .service-card .service-content .service-btn a {
  font-weight: 400;
  text-decoration: underline;
}
.service-testimonial .service-card .service-content .service-btn i {
  transform: rotate(-45deg);
  margin-left: 2px;
}

.service-details-4 {
  padding: 120px 0 0 0;
}
.service-details-4 .service-heading {
  padding-bottom: 40px;
}
.service-details-4 .service-heading .service-social-detail {
  padding: 40px 0 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.129);
}
.service-details-4 .service-heading .service-social-detail .service-date p {
  color: rgb(4, 9, 30);
  font-weight: 600;
}
.service-details-4 .service-heading .service-social-detail .service-date a {
  color: #747681;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
}
.service-details-4 .service-heading .service-social-icon {
  gap: 16px;
}
.service-details-4 .service-heading .service-social-icon i {
  font-size: 15px;
  width: 40px;
  height: 40px;
  background-color: rgb(4, 9, 30);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: all 0.5s;
}
.service-details-4 .service-heading .service-social-icon i:hover {
  background-color: rgb(253, 204, 4);
  color: rgb(4, 9, 30);
}
.service-details-4 .service-blog .service-blog-tittle h2 {
  padding-bottom: 20px;
}
.service-details-4 .service-blog .service-blog-tittle p {
  padding-bottom: 12px;
}
.service-details-4 .service-blog .service-research .service-research-tittle h3 {
  color: rgb(4, 9, 30);
  font-weight: 600;
  padding-top: 8px;
}
.service-details-4 .service-blog .service-research .service-research-tittle p {
  padding: 20px 0 40px 0;
}
.service-details-4 .service-blog .service-research .service-research-img {
  display: flex;
  gap: 0 30px;
}
.service-details-4 .service-blog .service-research .service-list {
  padding: 40px 20px 50px 20px;
}
.service-details-4 .service-blog .service-research .service-list li {
  list-style: circle;
  padding-bottom: 10px;
}
.service-details-4 .service-query-2 .service-query-section {
  background: url(../assets/image/others/teacher-service-d.png) no-repeat center/cover;
  padding: 43px 63px;
  border-radius: 18px;
}
.service-details-4 .service-query-2 .service-query-section .service-query-content h2 {
  color: #fff;
}
.service-details-4 .service-query-2 .service-query-section .service-query-content span {
  display: block;
}
.service-details-4 .service-query-2 .service-query-section .service-qury-btn .btn-style-3 {
  width: 200px;
  background: #04091E;
}
.service-details-4 .service-query-2 .service-query-section .service-qury-btn .btn-style-3 a {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.lawyer-service-details {
  padding: 120px 0 0 0;
}
.lawyer-service-details .service-heading {
  padding-bottom: 40px;
}
.lawyer-service-details .service-heading .service-social-detail {
  padding: 40px 0 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.129);
}
.lawyer-service-details .service-heading .service-social-detail .service-date p {
  color: rgb(4, 9, 30);
  font-weight: 600;
}
.lawyer-service-details .service-heading .service-social-detail .service-date a {
  color: #747681;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
}
.lawyer-service-details .service-heading .service-social-icon {
  gap: 16px;
}
.lawyer-service-details .service-heading .service-social-icon i {
  font-size: 15px;
  width: 40px;
  height: 40px;
  background-color: rgb(4, 9, 30);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: all 0.5s;
}
.lawyer-service-details .service-heading .service-social-icon i:hover {
  background-color: #FF3F00;
  color: #ffffff;
}
.lawyer-service-details .service-blog .service-blog-tittle h2 {
  padding-bottom: 20px;
}
.lawyer-service-details .service-blog .service-blog-tittle p {
  padding-bottom: 12px;
}
.lawyer-service-details .service-blog .service-research .service-research-tittle h3 {
  color: rgb(4, 9, 30);
  font-weight: 600;
  padding-top: 8px;
}
.lawyer-service-details .service-blog .service-research .service-research-tittle p {
  padding: 20px 0 40px 0;
}
.lawyer-service-details .service-blog .service-research .service-research-img {
  display: flex;
  gap: 0 30px;
}
.lawyer-service-details .service-blog .service-research .service-list {
  padding: 40px 20px 50px 20px;
}
.lawyer-service-details .service-blog .service-research .service-list li {
  list-style: circle;
  padding-bottom: 10px;
}

.blog-details-img {
  position: relative;
}
.blog-details-img .b-d-overlay {
  position: absolute;
  top: 16PX;
  right: 14PX;
  padding: 10PX 17PX;
  background-color: #FFFFFF;
  border-radius: 6px;
  text-align: center;
}
.blog-details-img .b-d-overlay .b-d-over-item {
  display: flex;
  gap: 11px;
  justify-content: center;
}
.blog-details-img .b-d-overlay .b-d-over-item .b-d-inner {
  display: flex;
  align-items: center;
  gap: 5px;
}
.blog-details-img .b-d-overlay .b-d-over-item .b-d-inner .icon {
  line-height: 0;
}
.blog-details-img .b-d-overlay .b-d-over-item .b-d-inner .text p {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #747681;
}

.blog-details-article-head {
  padding-bottom: 22px;
}
.blog-details-article-head h2 {
  font-weight: 600;
  font-size: 48px;
  color: #04091E;
}

.blog-details-article-text {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 29px;
}
.blog-details-article-text .text span {
  font-weight: 600;
  font-size: 18px;
  color: #272931;
}
.blog-details-article-text .text p {
  font-weight: 400;
  font-size: 18px;
  color: #747681;
}

.research-top-text-two {
  margin-top: 0;
}

.comment {
  padding: 50PX 0 120px 0;
}
.comment .comment-head h4 {
  font-weight: 600;
  font-size: 24px;
  color: #111111;
  padding-bottom: 10px;
}
.comment .comment-item .comment-inner {
  padding: 30px 27px 28px 30px;
  border: 1px solid #ECEAFF;
  border-radius: 4px;
  background-color: #F7F7FD;
  display: flex;
  gap: 24px;
  margin-bottom: 30px;
}
.comment .comment-item .comment-inner:last-child {
  margin-bottom: 0;
}
.comment .comment-item .comment-inner .comment-text .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}
.comment .comment-item .comment-inner .comment-text .text h4 {
  font-weight: 600;
  font-size: 18px;
  color: #04091E;
  line-height: 152%;
}
.comment .comment-item .comment-inner .comment-text .text span {
  font-weight: 400;
  font-size: 18px;
  color: #2662FA;
  line-height: 152%;
}
.comment .comment-item .comment-inner .comment-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 152%;
  color: #747681;
  line-height: 152%;
}
.comment .comment-item .comment-inner .comment-text a {
  font-weight: 400;
  font-size: 18px;
  color: #2662FA;
  line-height: 152%;
}
.comment .comment-item .comment-inner-two {
  margin-left: 120px;
}

.skills {
  padding: 80px 0;
  background: url(../assets/image/others/banner/skills-bg.png) no-repeat center/cover;
}
.skills .skill-text h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 67.2px;
  color: #fff;
}
.skills .skill-right p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #F4F8F7;
}
.skills .skill-rigght-btn {
  margin-top: 40px;
  line-height: 0;
}
.skills .skill-rigght-btn a {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.skills .skill-rigght-btn a span svg {
  fill: currentColor;
  color: #fff;
}
.skills .skill-rigght-btn a:hover a span svg {
  transform: translateY(10px);
}

.skills-two {
  background: url(../assets/image/others/banner/skill-two-bg.png) no-repeat center/cover;
}
.skills-two .skill-rigght-btn-two .btn-style-1 {
  background-color: #FFD233;
}
.skills-two .skill-rigght-btn-two .btn-style-1 a {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #04091E;
  gap: 4PX;
}
.skills-two .skill-rigght-btn-two .btn-style-1 a span svg {
  transition: all linear 0.5s;
  width: 24px;
  color: #04091E;
}

.skills-1 {
  margin-top: 118px;
}

.slick-two-2 {
  padding-top: 0;
}

.skills-three {
  padding: 80px 0;
  background: url(../assets/image/others/banner/skill-3.png) no-repeat center/cover;
}
.skills-three .skill-text h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 67.2px;
  color: #fff;
}
.skills-three .skill-right p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #F4F8F7;
}
.skills-three .skill-rigght-btn-two .btn-style-2 a {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #04091E;
  gap: 4PX;
}
.skills-three .skill-rigght-btn-two .btn-style-2 a span svg {
  transition: all linear 0.5s;
  width: 24px;
  color: #04091E;
}

footer {
  padding-top: 120px;
  background: url(../assets/image/others/banner/Footer-bg.png) no-repeat center/cover;
}

.footer-logo-item {
  border-right: 1px solid rgba(116, 118, 129, 0.3843137255);
  padding-right: 33px;
}

.footer-logo-text {
  padding-top: 21px;
}
.footer-logo-text p {
  font-weight: 400;
  font-size: 17px;
  line-height: 152%;
  color: #FFFFFF;
  opacity: 0.8;
}

.footer-logo-icon {
  display: flex;
  gap: 10px;
  margin-top: 36px;
}
.footer-logo-icon i {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1176470588);
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  color: #747681;
  font-size: 20px;
  transition: all linear 0.5s;
}
.footer-logo-icon i:hover {
  background-color: #2662FA;
  color: #fff;
  transform: translateY(-10px);
}

.footer-link-df {
  border-right: 1px solid rgba(116, 118, 129, 0.3843137255);
  display: flex;
  justify-content: center;
}

.footer-link-text h2 {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.footer-menu {
  margin-top: 0px;
}
.footer-menu ul {
  padding: 0;
  margin: 0;
}
.footer-menu ul li {
  padding-bottom: 19px;
}
.footer-menu ul li:last-child {
  padding-bottom: 0;
}
.footer-menu ul li a {
  font-weight: 400;
  font-size: 18px;
  color: #F5F5F5;
  transition: all linear 0.5s;
}
.footer-menu ul li a:hover {
  color: #2662FA;
}

.footer-services-df {
  border-right: 1px solid rgba(116, 118, 129, 0.3843137255);
  display: flex;
  justify-content: center;
}

.footer-services-text h2 {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.footer-services-menu {
  margin-top: 0px;
}
.footer-services-menu ul {
  padding: 0;
  margin: 0;
}
.footer-services-menu ul li {
  padding-bottom: 19px;
}
.footer-services-menu ul li:last-child {
  padding-bottom: 0;
}
.footer-services-menu ul li a {
  font-weight: 400;
  font-size: 18px;
  color: #F5F5F5;
  transition: all linear 0.5s;
}
.footer-services-menu ul li a:hover {
  color: #2662FA;
}

.official {
  padding-left: 26px;
}

.official-text h2 {
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}

.official-item {
  margin-top: 0px;
}

.official-inner {
  display: flex;
  gap: 8px;
  padding-bottom: 6px;
}
.official-inner .icon i {
  color: #2662FA;
  font-size: 20px;
}
.official-inner .text a {
  font-weight: 400;
  font-size: 18px;
  color: #F5F5F5;
}

.official-text-two {
  margin-top: 24px;
}
.official-text-two p {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  padding-bottom: 16px;
}

.official-btn {
  display: flex;
}
.official-btn .official-btn-left {
  margin-right: 0;
  padding-right: 0;
}
.official-btn .official-btn-left .f-b-text {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  height: 60px;
  width: 223px;
  padding: 0 20px 0;
  background-color: rgba(255, 255, 255, 0.1921568627);
  border: 1px solid transparent;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.official-btn .official-btn-right {
  width: 128px;
  height: 60px;
  background-color: #2662fa;
  display: flex;
  align-items: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: all linear 0.5s;
}
.official-btn .official-btn-right a {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  padding-left: 26px;
  padding-right: 31px;
  transition: all linear 0.5s;
}
.official-btn .official-btn-right:hover {
  background-color: #fff;
  color: #2662fa;
}
.official-btn .official-btn-right:hover a {
  color: #2662FA;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.copyright {
  padding: 22px 0;
  margin-top: 120px;
  border-top: 1px solid rgba(116, 118, 129, 0.23);
}

.copyright-text h5 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.copyright-text h5 a {
  color: #fff;
  text-decoration-line: underline;
}

.footer-two {
  padding: 120px 0 0 0;
}

.footer-three {
  padding: 120px 0 0 0;
}
.footer-three .footer-logo-icon {
  display: flex;
  gap: 10px;
  margin-top: 36px;
}
.footer-three .footer-logo-icon i {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1176470588);
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  color: #747681;
  font-size: 20px;
  transition: all linear 0.5s;
}
.footer-three .footer-logo-icon i:hover {
  background-color: #DAED1A;
  color: #04091E;
  transform: translateY(-10px);
}
.footer-three .footer-logo-icon .active-one i {
  background-color: #DAED1A;
  color: #04091E;
  border-radius: 50px;
}
.footer-three .official-inner {
  display: flex;
  gap: 8px;
  padding-bottom: 6px;
}
.footer-three .official-inner .icon i {
  color: #DAED1A;
  font-size: 20px;
}
.footer-three .official-btn-right {
  width: 128px;
  height: 60px;
  background-color: #DAED1A;
  display: flex;
  align-items: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: all linear 0.5s;
}
.footer-three .official-btn-right a {
  font-weight: 400;
  font-size: 18px;
  color: #04091E;
  padding-left: 26px;
  padding-right: 31px;
  transition: all linear 0.5s;
}
.footer-three .official-btn-right:hover {
  background-color: #fff;
}
.footer-three .official-btn-right:hover a {
  color: #04091E;
}
.footer-three .footer-services-menu {
  margin-top: 28px;
}
.footer-three .footer-services-menu ul {
  padding: 0;
  margin: 0;
}
.footer-three .footer-services-menu ul li {
  padding-bottom: 19px;
}
.footer-three .footer-services-menu ul li:last-child {
  padding-bottom: 0;
}
.footer-three .footer-services-menu ul li a {
  font-weight: 400;
  font-size: 18px;
  color: #F5F5F5;
  transition: all linear 0.5s;
}
.footer-three .footer-services-menu ul li a:hover {
  color: #DAED1A;
}
.footer-three .footer-menu {
  margin-top: 28px;
}
.footer-three .footer-menu ul {
  padding: 0;
  margin: 0;
}
.footer-three .footer-menu ul li {
  padding-bottom: 19px;
}
.footer-three .footer-menu ul li:last-child {
  padding-bottom: 0;
}
.footer-three .footer-menu ul li a {
  font-weight: 400;
  font-size: 18px;
  color: #F5F5F5;
  transition: all linear 0.5s;
}
.footer-three .footer-menu ul li a:hover {
  color: #DAED1A;
}

.footer-four {
  padding: 120px 0 0 0;
}
.footer-four .footer-logo-icon {
  display: flex;
  gap: 10px;
  margin-top: 36px;
}
.footer-four .footer-logo-icon i {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1176470588);
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  color: #747681;
  font-size: 20px;
  transition: all linear 0.5s;
}
.footer-four .footer-logo-icon i:hover {
  background-color: #FDCC04;
  color: #04091E;
  transform: translateY(-10px);
}
.footer-four .footer-logo-icon .active-one i {
  background-color: #FDCC04;
  color: #04091E;
  border-radius: 50px;
}
.footer-four .official-inner {
  display: flex;
  gap: 8px;
  padding-bottom: 6px;
}
.footer-four .official-inner .icon i {
  color: #FDCC04;
  font-size: 20px;
}
.footer-four .official-btn-right {
  width: 128px;
  height: 60px;
  background-color: #FDCC04;
  display: flex;
  align-items: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: all linear 0.5s;
}
.footer-four .official-btn-right a {
  font-weight: 500;
  font-size: 18px;
  color: #04091E;
  padding-left: 26px;
  padding-right: 31px;
  transition: all linear 0.5s;
}
.footer-four .official-btn-right:hover {
  background-color: #fff;
}
.footer-four .official-btn-right:hover a {
  color: #04091E;
}
.footer-four .footer-services-menu {
  margin-top: 0px;
}
.footer-four .footer-services-menu ul {
  padding: 0;
  margin: 0;
}
.footer-four .footer-services-menu ul li {
  padding-bottom: 19px;
}
.footer-four .footer-services-menu ul li:last-child {
  padding-bottom: 0;
}
.footer-four .footer-services-menu ul li a {
  font-weight: 400;
  font-size: 18px;
  color: #F5F5F5;
  transition: all linear 0.5s;
}
.footer-four .footer-services-menu ul li a:hover {
  color: #FDCC04;
}
.footer-four .footer-menu {
  margin-top: 0px;
}
.footer-four .footer-menu ul {
  padding: 0;
  margin: 0;
}
.footer-four .footer-menu ul li {
  padding-bottom: 19px;
}
.footer-four .footer-menu ul li:last-child {
  padding-bottom: 0;
}
.footer-four .footer-menu ul li a {
  font-weight: 400;
  font-size: 18px;
  color: #F5F5F5;
  transition: all linear 0.5s;
}
.footer-four .footer-menu ul li a:hover {
  color: #FDCC04;
}

.footer-five {
  padding: 120px 0 0 0;
}
.footer-five .footer-logo-icon {
  display: flex;
  gap: 10px;
  margin-top: 36px;
}
.footer-five .footer-logo-icon i {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1176470588);
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  color: #747681;
  font-size: 20px;
  transition: all linear 0.5s;
}
.footer-five .footer-logo-icon i:hover {
  background-color: #FF3F00;
  color: #fff;
  transform: translateY(-10px);
}
.footer-five .footer-logo-icon .active-one i {
  background-color: #FF3F00;
  color: #fff;
  border-radius: 50px;
}
.footer-five .official-inner {
  display: flex;
  gap: 8px;
  padding-bottom: 6px;
}
.footer-five .official-inner .icon i {
  color: #FF3F00;
  font-size: 20px;
}
.footer-five .official-btn-right {
  width: 128px;
  height: 60px;
  background-color: #FF3F00;
  display: flex;
  align-items: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: all linear 0.5s;
}
.footer-five .official-btn-right a {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  padding-left: 26px;
  padding-right: 31px;
  transition: all linear 0.5s;
}
.footer-five .official-btn-right:hover {
  background-color: #fff;
}
.footer-five .official-btn-right:hover a {
  color: #FF3F00;
}
.footer-five .footer-services-menu {
  margin-top: 0px;
}
.footer-five .footer-services-menu ul {
  padding: 0;
  margin: 0;
}
.footer-five .footer-services-menu ul li {
  padding-bottom: 19px;
}
.footer-five .footer-services-menu ul li:last-child {
  padding-bottom: 0;
}
.footer-five .footer-services-menu ul li a {
  font-weight: 400;
  font-size: 18px;
  color: #F5F5F5;
  transition: all linear 0.5s;
}
.footer-five .footer-services-menu ul li a:hover {
  color: #FF3F00;
}
.footer-five .footer-menu {
  margin-top: 0px;
}
.footer-five .footer-menu ul {
  padding: 0;
  margin: 0;
}
.footer-five .footer-menu ul li {
  padding-bottom: 19px;
}
.footer-five .footer-menu ul li:last-child {
  padding-bottom: 0;
}
.footer-five .footer-menu ul li a {
  font-weight: 400;
  font-size: 18px;
  color: #F5F5F5;
  transition: all linear 0.5s;
}
.footer-five .footer-menu ul li a:hover {
  color: #FF3F00;
}/*# sourceMappingURL=-home-1-blog-detalis.css.map */